body {
    background: #db2771;
    margin-top: 0px;
}

p {
    margin: 0px
}

.card {
    width: 70%;
    margin: auto;
    text-align: center;
    height: 100%;
    width: 100%;
    background: url("mulan.jpeg") no-repeat;
    background-position: 50% 50%;
    background-size: 800px 1080px;
    margin-top: 1% !important;
    overflow: hidden;
}

.text {
    font-family: "Open Sans", sans-serif;
    font-size: 1.4rem;
    color: aliceblue;
    text-shadow: 2px 2px #8c52ff;
}

.text p {
    margin: 1rem 1rem
}

.text p a {
    color: #8c52ff;
    
    text-decoration: none;
    text-shadow: 2px 2px black
}

/*Emma*/
.msg2 {
    font-family: "Clicker Script", cursive;
    font-size: 6rem;
}

@media screen and (max-width: 414px) {
    .card {
        background: url("mulan.jpeg") no-repeat;
        background-position: 50% 50%;
        background-size: 450px 750px;
    }
    .text{
        font-size: 1rem;
    }

    b{
        color: #ffc525 !important;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    }
}